.App {
  height: 50rem;
  width: 50rem;
  background-color: skyblue;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '微软雅黑';
}
body {
  margin: auto;
  width: 100rem;
}